<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>index page</title>
</head>
<body>
<h3>index.html</h3>
<h1>Welcome</h1>
<a th:href="@{/login}">Log In please >></a>
</body>
</html>